body {
    font-size: 20px;
}
h5 {
    margin: 0;
}
div {
    margin: 10px;
}
input {
    border: 1px solid #E1E1E1;
}
button {
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    background-color: white;
    font-weight: bold;
    margin-left: 10px;
    height: 25px;
}